language: cpp

os: 
  - osx
  - linux 

env:
  - TEST_SUITE: "bin/py.test -vvs"


install:
    - ./configure

script:
    - $TEST_SUITE

notifications:
    irc:
        channels:
          - "chat.freenode.net#aboutcode"
    on_success: change
    on_failure: always
    use_notice: true
    skip_join: true
    template:
      - "%{repository_slug}#%{build_number} (%{branch} - %{commit} : %{author}): %{message} : %{build_url}"
