matrix:
  include:
    - os: osx
      env:
        - PYTHON="3.6.8"
        - TEST_SUITE="bin/py.test -vvs"
      language: generic
      python:

    - os: osx
      env:
        - PYTHON="2.7.15"
        - TEST_SUITE="bin/py.test -vvs"
      language: generic
      python:

    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs"
      language: python
      python: "2.7"
      dist: xenial
    
    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs"
      language: python
      python: "2.7"
      dist: bionic
    
    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs"
      language: python
      python: "3.6"
      dist: xenial
    
    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs"
      language: python
      python: "3.6"
      dist: bionic

addons:
  homebrew:
    packages:
      - openssl
      - readline
      - sqlite3
      - xz
      - zlib
      - pyenv
    update: true

install:
  - ./configure

script:
  # If debugging, use a subset of tests to wait less:
  # - ./bin/py.test -n 2 -vvs --cov=src tests/scancode
  # - echo $TEST_SUITE
  - bin/about-code check --verbose .
  - $TEST_SUITE

notifications:
  irc:
    channels:
      - "chat.freenode.net#aboutcode"
  on_success: change
  on_failure: always
  use_notice: true
  skip_join: true
  template:
    - "%{repository_slug}#%{build_number} (%{branch}-%{commit}:%{author})-%{message}- %{build_url}"
